<div class="container">
	<div class="row">
		<h2>About me</h2>
		<div class="col-sm-3">
			<h3>Minh Son Nguyen</h3>
			<h4>Lahti - Finland</h4>
			<!-- Contact -->
			<ul id="contact">
				<li>
					<a href="https://github.com/nguymin4"><i class="fa fa-github-square"></i></a>
					<a href="https://www.linkedin.com/in/minhsonnguyen1209"><i class="fa fa-lkin-square"></i></a>
					<a href="mailto:%6d%69%6e%68.%73%6f%6e.%6e%67%75%79%65%6e.%31%32%30%39@%67%6d%61%69%6c.%63%6f%6d">
						<i class="fa fa-paper-plane"></i>
					</a>
				</li>
			</ul>
		</div>
		<div class="col-sm-9">
			<p>
				As a final year student in Lahti University of Applied Sciences, I'm completing my thesis to graduate at the moment. My
				major is Business Information Technlogy which is a hybrid degree program of Business and IT, as its name implied. However,
				I focus more on IT and spend most of my studies time working on it.
			</p>
			<p>
				I am a supporter of the open-source movement and a member of VietLug - Vietnamese Linux Users' Group. 
				By following open-source project, I can learn new things and improve my skills as well as sharing knowledge with others people.
			</p>
			<p>
		</div>
	</div>
</div>