<div class="container overflow">
	<div class="row">
		<h2>Interests</h2>
		<div class="cell col-md-4 col-sm-6 text-center">
			<div class="flipper">
				<div class="front" style="background-color: #FFCC2B">
					<div>
						<h4>Running and Walking</h4>
						<i class="fa fa-circle"></i>
						<i class="fa fa-circle"></i>
						<i class="fa fa-circle"></i>
					</div>
				</div>
				<div class="back">
					In the summer time, I usually run around the park near my home.
				</div>
			</div>
		</div>
		<div class="cell col-md-4 col-sm-6 text-center">
			<div class="flipper">
				<div class="front" style="background-color: #39d0c1">
					<div>
						<h4>Swimming</h4>
						<i class="fa fa-circle"></i>
						<i class="fa fa-circle"></i>
						<i class="fa fa-circle"></i>
					</div>
				</div>
				<div class="back"></div>
			</div>
		</div>
		<div class="cell col-md-4 col-sm-6 text-center">
			<div class="flipper">
				<div class="front" style="background-color: #D50F25">
					<div>
						<h4>World of Tanks</h4>
						<i class="fa fa-circle"></i>
						<i class="fa fa-circle"></i>
						<i class="fa fa-circle"></i>
					</div>
				</div>
				<div class="back"></div>
			</div>
		</div>
	</div>
</div>