<div class="container">
	<div class="row">
		<h2><i class="fa fa-chevron-circle-down"></i>Skills</h2>
		<div class="col-md-6 skill">
			<h4>General</h4>
			<ul>
				<li>Programming in: C#, Java (Java 8), Python</li>
				<li>Operating System: Linux (Ubuntu), Windows</li>
				<li>Shell scripting</li>
				<li>Docker</li>
				<li>Agile Software Development methodologies (Scrum, Kanban)</li>
			</ul>
		</div>
		<div class="col-md-6 skill">
			<h4>Front-end</h4>
			<ul>
				<li>HTML5, CSS3 (Sass - SCSS)</li>
				<li>Javascript (ES5 and ES6): AngularJS, BackboneJS, Jquery</li>
				<li>Automation tools gulp/grunt, webpack with babel-loader etc.</li>
				<li>Testing framework Jasmine (with test runner Karma)</li>
			</ul>
		</div>
		<div class="col-md-6 skill">
			<h4>Back-end</h4>
			<ul>
				<li>ASP.NET, NodeJS (Express) </li>
				<li>SQL (SQL Server)</li>
				<li>NoSQL (MongoDB, Redis)</li>
			</ul>
		</div>
	</div>
	<div class="row">
		<h2><i class="fa fa-chevron-circle-down"></i>Achievements</h2>
		<div class="col-md-12 achievement-list"></div>
	</div>
</div>