#about {
  div.col-sm-9 {
    min-height: calc(60vh - 80px);
    padding: 20px;
    font-size: 0.9em;
    line-height: 1.5em;
    background: $main-color;
    color: $secondary-color;
    border-radius: 5px;
  }
}

#contact {
  list-style: none;
  padding: 0;
  margin: 20px 0 30px 0;
  min-width: 175px;

  a {
    color: $main-color;
  }

  a:hover {
    text-shadow: 0 0 10px $main-color;
  }
}
