#home {
	background-color: transparent;
	width: 100%;
	padding-top: 8%;

	p {
		font-size: 1.1em;
		font-style: italic;
		margin-top: 20px;
		font-weight: 300;
	}

	@media screen and (max-width: 840px) {
		p br {
			display: none;
		}

		& {
			padding-top: 80px;
		}
	}

	@media screen and (max-width: 640px) {
		p {
			font-size: 1em;
		}
	}
}
