/* Loading animation */

$diameter: #{$loading-circle-radius * 2}; /* stylelint-disable-line */
$radius: #{$loading-circle-radius};

#overlay {
  z-index: 9999;
  width: 100%;
  height: 100%;
  text-align: center;
  position: absolute;
  background: $main-color;
  transition: opacity 0.75s ease 0.75s, z-index 0s ease 1.5s;
}

.loader {
  position: absolute;
  top: calc(50% - #{$diameter});
  left: calc(50% - #{$radius});
  margin: auto;
  font-size: 0.8em;
  text-indent: -9999em;
  border-top: 0.8em solid #d50f25;
  border-bottom: 0.8em solid #009925;
  border-left: 0.8em solid #3369e8;
  border-right: 0.8em solid #eeb211;
  animation: spin 1.5s infinite ease;
  transition: opacity 0.75s ease;

  &,
  &::after {
    border-radius: 50%;
    width: #{$diameter};
    height: #{$diameter};
  }
}

#overlay.loaded {
  opacity: 0;
  z-index: -1;

  .loader {
    opacity: 0;
    animation: initial;
  }
}

@keyframes spin {
  from {
    transform: rotate(90deg);
  }

  to {
    transform: rotate(450deg);
  }
}
