body {
	background: url($main-background) top center no-repeat;
	background-size: cover;
	position: relative;
	overflow: hidden;
}

.band {
	height: 100%;
	position: relative;
	overflow: hidden;
}

#content {
	position: absolute;
	height: 100%;
	width: 100%;
}

section.view {
	position: absolute;
	height: 100%;
	width: 100%;
	@include transform(translateX(-50vw));
	@include transition(all 0.75s ease 0s);
	color: $main-color;
	opacity: 0;
	z-index: -1;
	overflow-x: hidden;
	padding-top: 55px;

	&.active {
		@include transform(translateX(0));
		@include transition(all 0.75s ease 0s);
		opacity: 1;
		z-index: 98;
	}

	.row {
		margin: 15px auto;
		padding: 25px 0;
	}

	h1,
	h2,
	h3 {
		text-shadow: 0 0 10px $main-color;
	}

	h2 {
		font-size: 1.6em;
		margin: 50px 0 0 15px;
		font-style: italic;
	}

	h1,
	h3 {
		font-family: Ubuntu;
	}

	h3 {
		margin-top: 20px;
		font-size: 1.55rem
	}

	h4 {
		font-size: 1.1rem
	}

	@media screen and (max-width: $mobile-screen) {
		.container {
			padding-left: 10px;
			padding-right: 10px;
		}

		.row {
			padding: 20px 0;
		}
	}

	@media screen and (max-width: 768px) {
		@include transition(all 0.5s ease 0s);

		&:active {
			@include transition(all 0.5s ease 0s);
		}
	}

	@media screen and (min-width: 1600px) {
		@include transition(all 1s ease 0s);

		&:active {
			@include transition(all 1s ease 0s);
		}
	}
}
