{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "env": {
    "browser": true,
    "jest": true
  },
  "plugins": ["react-hooks"],
  "rules": {
    "comma-dangle": ["error", "never"],
    "object-curly-newline": ["off"],
    "react/jsx-filename-extension": ["off"],
    "react-hooks/rules-of-hooks": "error",
    "import/no-extraneous-dependencies": ["error", {
      "devDependencies": ["**/*.spec.{js,jsx}", "server/test/**/*.js", "*.setup.js"]
    }]
  }
}
