<div class="container overflow">
	<div class="row">
		<h2>Interests</h2>
		<div class="cell col-lg-4 col-md-6  text-center">
			<img class="img-responsive img-rounded" src="https://media.mnn.com/assets/images/2014/05/running.jpg.653x0_q80_crop-smart.jpg" alt="Running" />
		</div>
		<div class="cell col-lg-4 col-md-6  text-center">
			<img class="img-responsive img-rounded" src="https://assets.wh.cdnds.net/images/795/woman_swimming_in_dark_pool_shutterstock__medium_4x3.jpg" alt="Swimming" />
		</div>
		<div class="cell col-lg-4 col-md-6  text-center">
			<img class="img-responsive img-rounded" src="img/shot_010.jpg" alt="World of Tanks" />
		</div>
	</div>
</div>