html,body {
	height:100%;
	background-color:$main-color;
	color:$main-color;
	font-size: $main-font-size;
	font-family: "Open Sans", "Ubuntu", sans-serif;
	letter-spacing: 0.5px;
}
@import "mixin";
@import "misc";