#about {
	p.col-sm-9 {
		height: calc(80vh - 80px);
		padding: 20px;
		line-height: 1.5em;
		background: $main-color;
		color: $secondary-color;
		@include border-radius(5px);
	}
}

#contact {
	// position: absolute;
	// z-index: 99;
	list-style: none;
	padding: 20px 0px 0px 0px;
	min-width: 175px;
	
	a {
		color: $main-color;
	} 
	
	a:hover {
		text-shadow: 0px 0px 10px $main-color;
	}
	
	.fa {
		font-size: 2em; 
		vertical-align: middle;
		margin-right: 20px;
	}
	
	.fa-paper-plane {
		font-size: 1.6em;
	}
}