/*Loading animation*/
$diameter: #{$loading-circle-radius * 2}#{$loading-circle-unit};
$radius: #{$loading-circle-radius}#{$loading-circle-unit};

#overlay {
    z-index: 9999;
    width: 100%;
    height: 100%;
    text-align: center;
	position: absolute;
	background: $main-color;
	@include transition(opacity 0.75s ease 0.75s, z-index 0s ease 1s);
}

.loader {
	position: absolute;
	top: calc(50% - #{$diameter});
	left: calc(50% - #{$radius});
	margin: auto;
	font-size: 0.8em;
	text-indent: -9999em;
	border-top: 0.8em solid #D50F25;
	border-bottom: 0.8em solid #009925;
	border-left: 0.8em solid #3369E8;
	border-right: 0.8em solid #EEB211;
	@include animation(spin 1.5s infinite ease);
	@include transition(opacity 0.75s ease);
	
	&, &:after {
		border-radius: 50%;
		width: #{$diameter};
		height: #{$diameter};
	}
}

body.loaded {
	#overlay, .loader {
		opacity: 0;
		z-index: -1;
		@include animation(initial);
	}
}

@include keyframes(spin) {
    from { @include transform(rotate(90deg)); }
    to { @include transform(rotate(450deg)); }
}