.band {
	min-height: 100%;
	background-image: url($main-background);
	background-size: cover;
	background-position: top center;
	position: relative;
	overflow: hidden;
}

#content {
	position: absolute;
	height: 100%;
	width: 100%;
	// @include bg-gradient(right, rgba(255,255,255,0), rgba(255,255,255,0.05));
}

section.view {
	position: absolute;
	transform: translateX(-50vw);
	height: 100%;
	width: 100%;
	color: $main-color;
	@include transition(all 0.75s ease 0s);
	opacity: 0;
	z-index: -1;
	overflow-x: hidden;
	padding-top: 40px;
	
	&.active {
		transform: translateX(0);
		@include transition(all 0.75s ease 0s);
		opacity: 1;
		z-index: 98;
	}
	
	.row {
		margin: 15px auto;
		padding: 40px 0px;
	}
	
	h1, h2, h3 {
		text-shadow: 0px 0px 10px $main-color;
	}
	
	h2 {
		font-size: 1.6em;
		margin: 0px 0px 30px 15px;
		font-style: italic;
	}
	
	h1, h3 {
		font-family: Ubuntu;
	}
	
	@media screen and (max-width: 768px) {
		@include transition(all 0.5s ease 0s);
		
		&:active {
			@include transition(all 0.5s ease 0s);
		}
	}
	
	@media screen and (min-width: 1600px) {
		@include transition(all 1s ease 0s);
		
		&:active {
			@include transition(all 1s ease 0s);
		}
	}
}