@import "anti_adblock";
@import "loading_screen";
@import "contact";
@import "smoke";
@import "view_indicator";

.band {
	min-height: 100%;
	background-image: url($main-background);
	background-attachment: initial;
	background-size: cover;
	background-position: center center;
	position: relative;
	overflow: hidden;
}

#content {
	position: absolute;
	height: 100%;
	width: 100%;
}

.jumbotron {
	position: absolute;
	background-color: transparent;
	width: 100%;
	padding-top: 80px;
	color: $main-color;
	
	h3 {
		text-shadow: 0px 0px 10px $main-color;
	}
	
	p {
		font-size: 1.25em;
		font-style: italic;
		margin-top: 20px;
	}
}