#projects {
	.container .row {
		@include transition(all 0.5s ease);
	}
}

.project {
	max-width: 320px;
	padding: 10px 20px 20px 20px;
	margin: 20px auto;
	color: $main-color;
	@include transition(all 0.25s ease);
	cursor: pointer;
		
	
	.title {
		// color: lighten(invert($main-color), 20%);
		text-align: center;
		margin-bottom: 10px;
		padding-bottom: 5px;
		border-bottom: solid 1px darken($main-color, 10%);
		text-shadow: 0px 0px 8px $main-color;
	}
	
	img {
		display: block;
		max-width: 100%;
		height: 200px;
		margin: auto;
		@include border-radius(10px);
	}
	
	&:hover {
		@include transform(scale(0.975));
	}
}

.project-list > a {
	text-decoration: none;
	outline: none;
}

.project-detail {
	position: absolute;
	top: $project-detail-top;
	height: 100%;
	width: 100%;
	color: $secondary-color;
	z-index: 99;
	opacity: 0;
	@include transform(translateY(-100%));
	@include transition(opacity 0.75s, transform 0.75s);
	
	&.active {
		opacity: 1;
		@include transform(translateY($project-detail-top));
	}
	
	.detail {
		height: calc(100% - #{$project-detail-top} - 20px);
		width: 100%;
		max-width: $project-detail-width;
		margin: auto;
		background-color: $main-color;
		text-align: center;
		overflow: hidden;
		border: solid 1px #D4D4D4;
		@include border-radius(5px);
	}
	
	.detail-top {
		padding-top: 25px;
		position: relative;
		
		.btn-close {
			position: absolute;
			right: 20px;
			top: 20px;
			font-size: 1.75em;
			cursor: pointer;
			@include transition(transform 0.25s ease);
			
			&:hover {
				@include animation(pulse 1s infinite ease);
			}
		}
		
		.btn-github {
			margin: auto;
			font-size: 2.8em;
			color: $secondary-color;
			text-decoration: none;
			@include transition(color 0.25s ease);
			
			
			&:hover {
				color: #337ab7;
			}
		}
	
		hr {
			margin-top: 15px;
			margin-bottom: 0;
		}
	}
	
	.detail-body {
		position: relative;
		height: calc(100% - 75px);
		text-align: left;
		margin: 10px 0px;
		padding: 10px 20px;
		overflow-y: scroll;
		font-size: 0.9em;
		
		.content-box {
			padding-bottom: 30px;
			line-height: 1.6em;
		}
		
		img {
			margin: 5px 0px;
			@include border-radius(5px);
			
			&[align="right"] {
				margin-left: 15px;
			}
			
			&[align="left"] {
				margin-right: 15px;
			}
		}
	}
	
	@media screen and (max-width: $project-detail-width) {
		padding: 0;
		
		.detail {
			margin: 0;
			height: calc(100vh - #{$project-detail-top});
			@include border-radius(5px 5px 0px 0px);
		}
	}
}

@include keyframes(pulse) {
	0% {@include transform(scale(1.1))}
	50% {@include transform(scale(0.9))}
	100% {@include transform(scale(1.1))}
}