#smokes {
	position: absolute;
	height: 100%;
	width: 100%;
	overflow: hidden;
}

.smoke {
	background-image: url("../img/smoke.png");
	background-size: contain;
	background-position: bottom;
	background-repeat: repeat-x;
	width: $smoke-width;
	height: 75%;
	position: absolute;
	bottom: 0px;
	opacity: 0.9;
	@include animation(smoke-float $smoke-floating-time infinite linear);
	
	@media screen and (min-height: 720px) {
		height: 100%;
	}
}

@include keyframes(smoke-float) {
	from {transform: translateX(-#{$smoke-width})}
	to {transform: translateX(0px)}
}