#view-indicators {
	position: absolute;
	width: 100%;
	bottom: 20px;
	text-align: center;
	z-index: 99;
}

.view-indicator {
	display: inline-block;
	opacity: 0.4;
	cursor: pointer;
	margin: 0px 5px;
	// @include border-radius(5px);
	color: $main-color;
	@include transition(opacity 0.25s ease);
	
	span {
		display: block;
		background-color: $main-color;
		width: 50px; 
		height: 6px; 
		transform: skewX(-40deg);
		margin-bottom: 5px;
		@include transition(initial);
	}
	
	i {
		background: transparent;
		font-size: 2em;
	}
	
	&:hover, &.active {
		opacity: 1;
		color: $main-color;
		
		span {
			box-shadow: 0px 0px 5px $main-color;
		}
	}
}