@import "~bootstrap/scss/bootstrap";
@import '~react-perfect-scrollbar/dist/css/styles.css';
@import "variables";

html,
body {
  height: 100%;
  background-color: transparent;
  color: $main-color;
  font-size: $main-font-size;
  font-family: "Open Sans", sans-serif;
  letter-spacing: 0.5px;

  .no-animation {
    * {
      $no-duration: "0s !important";
      transition: none !important;
      animation: none !important;
    }
  }
}

@media screen and (max-width: $mobile-screen) {
  html,
  body {
    font-size: 14px;
  }
}


// Anti ad-block
.fa {
  &.fa-linkedin::before {
    content: "\f08c";
  }

  &.fa-linkedin::before {
    content: "\f0e1";
  }
}

// Customize perfect scrollbar
.ps__rail-y {
  background-color: transparent !important;

  .ps__thumb-y {
    width: 5px !important;
  }
}

@import "components/index";
