@import "~bootstrap/scss/bootstrap";
@import "~react-perfect-scrollbar/dist/css/styles.css";
@import "variables";

html,
body {
  height: 100%;
  background-color: transparent;
  color: $main-color;
  font-size: $main-font-size;
  font-family: "Open Sans", sans-serif;
  letter-spacing: 0.5px;

  .no-animation {
    * {
      $no-duration: "0s !important";
      transition: none !important;
      animation: none !important;
    }
  }
}

body {
  background: url($main-background) bottom center no-repeat;
  background-size: cover;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: $mobile-screen) {
  html,
  body {
    font-size: 14px;
  }
}

// Pages
@import "../pages/index";
@import "../pages/404";

// Components
@import "../components/LoadingScreen";
@import "../components/Nav";
@import "../components/Smokes";

// Views
@import "../views/Home";
@import "../views/About";
@import "../views/Skills";

// Misc
@import "misc";
