// Variables
$main-background: "../images/57170ef024a93bcd60e336093fa6ae91.jpg";
$main-color: #ffffff;
$secondary-color: darken(#888888, 10%);
$main-font-size: 16px;
$loading-circle-radius: 3em;
$smoke-width: #{574 * 2}px;
$smoke-floating-time: 20s;
$project-detail-width: 920px;
$project-detail-top: 45px;
$mobile-screen: 560px;
