$main-background: "../images/jonatan-pie-EvKBHBGgaUo-unsplash.jpg";
$main-font-size: 16px;
$mobile-screen: 560px;

// Colors
$main-color: #ffffff;
$secondary-color: darken(#888888, 10%);
$color-green: #5baf73;
