#view-indicators {
  position: absolute;
  top: 0;
  width: 100%;
  padding: 10px 0 15px 0;
  text-align: center;
  z-index: 99;
}

a.view-indicator {
  display: inline-block;
  min-width: 65px;
  cursor: pointer;
  color: $main-color;
  opacity: 0.4;
  margin: 0 5px;
  transition: opacity 0.25s ease;
  text-decoration: none;
  text-align: center;
  outline: none;

  span {
    display: block;
    height: 4px;
    width: 100%;
    margin-top: 2px;
    background-color: $main-color;
    transform: skew(-30deg, 0deg);
    transition: initial;
  }

  i {
    display: block;
    width: 100%;
    font-size: 1.1em;
    padding-left: 4px;
  }

  &:hover,
  &.active {
    opacity: 1;
    color: $main-color;

    i {
      text-shadow: 0 0 5px $main-color;
    }

    span {
      box-shadow: 0 0 10px $main-color;
    }
  }

  @media screen and (max-width: 768px) {
    min-width: 55px;
    margin: 0 3px;

    i {
      font-size: 1em;
      padding-left: 2px;
    }
  }
}
