$smoke-width: #{574 * 2}px;
$smoke-floating-time: 15s;
$smoke-background: "../images/smoke.png";

#smokes {
  position: absolute;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

@keyframes smoke-float {
  from {
    transform: translateX(-#{$smoke-width});
  }

  to {
    transform: translateX(0);
  }
}

.smoke {
  background-image: url($smoke-background);
  background-repeat: repeat;
  width: $smoke-width;
  height: calc(100% - 160px);
  position: absolute;
  bottom: 0;
  animation: smoke-float $smoke-floating-time infinite linear;
}
