@import "layout";
@import "anti_adblock";

.band {
	min-height: 100%;
	// background-image: url("https://static-pss-eu.gcdn.co/shop/media/items/item_details_background/WoT_Gold_Prem_Consumables.jpg")
	background-image: url("../img/57170ef024a93bcd60e336093fa6ae91.jpg");
	background-attachment: initial;
	background-size: cover;
	background-position: center center;
	position: relative;
	overflow: hidden;
}
.smokes {
	position: absolute;
	height: 100%;
	width: 100%;
}

.smoke {
	background-image: url("../img/smoke.png");
	background-size: contain;
	background-position: bottom;
	width: 574px;
	height: 75%;
	position: absolute;
	bottom: 0px;
	@include animation(smoke-float 12s infinite linear);
	opacity: 0.9;
}

#content {
	position: absolute;
	height: 100%;
	width: 100%;
}

.jumbotron {
	position: absolute;
	background-color: transparent;
	width: 100%;
	padding-top: 80px;
	color: #fff;
	
	h3 {
		text-shadow: 0px 0px 10px #fff;
	}
	
	p {
		font-size: 1.25em;
		font-style: italic;
		margin-top: 20px;
	}
}

#contact {
	position: absolute;
	top: 20px;
	right: 20px;
	list-style: none;
	z-index: 99;
	
	a {
		color: #ffffff;
	} 
	
	a:hover {
		text-shadow: 0px 0px 10px #fff;
	}
	
	.fa {
		font-size: 3em; 
		vertical-align: middle;
		margin-right: 20px;
	}
	
	@media screen and (max-width: 640px) {
		right: 10px;
		
		a {
			display: block;
			margin-bottom: 20px;
		}
	}
}

/*Loading animation*/
#overlay {
    z-index: 9999;
    width: 100%;
    height: 100%;
    text-align: center;
	position: absolute;
	background: #FFFFFF;
	transition: opacity 0.75s ease 0.75s, z-index 0s ease 2.25s;
}

.loader {
	position: absolute;
	top: calc(50% - 8em);
	left: calc(50% - 4em);
	margin: auto;
	font-size: 10px;
	text-indent: -9999em;
	border-top: 1.1em solid #D50F25;
	border-bottom: 1.1em solid #009925;
	border-left: 1.1em solid #3369E8;
	border-right: 1.1em solid #EEB211;
	@include forceGpu();
	@include animation(spin 1.5s infinite ease);
	transition: opacity 0.75s ease;
	
	&, &:after {
		border-radius: 50%;
		width: 8em;
		height: 8em;
	}
}

body.loaded {
	#overlay, .loader {
		opacity: 0;
		z-index: -1;
		@include animation(initial);
	}
}