/* Variables */

/* Main	*/
$main-background: "/assets/img/57170ef024a93bcd60e336093fa6ae91.jpg";
$main-color: #FFFFFF;
$main-font-size: 16px;

$loading-circle-radius: 3;
$loading-circle-unit: "em";

$smoke-width: #{574 * 2}px;
$smoke-floating-time: 20s;