<div class="container">
	<div class="row">
		<h2>About me</h2>
		<div class="col-sm-3">
			<h3>Minh Son Nguyen</h3>
			<h4>Helsinki - Finland</h4>
			<!-- Contact -->
			<ul id="contact">
				<li>
					<a href="https://github.com/nguymin4"><i class="fa fa-github-square"></i></a>
					<a href="https://www.linkedin.com/in/minhsonnguyen1209"><i class="fa fa-lkin-square"></i></a>
					<a href="mailto:%6d%69%6e%68.%73%6f%6e.%6e%67%75%79%65%6e.%31%32%30%39@%67%6d%61%69%6c.%63%6f%6d">
						<i class="fa fa-paper-plane"></i>
					</a>
				</li>
			</ul>
		</div>
		<div class="col-sm-9">
			<p>
				Hello and welcome to my website!
			</p>
			<p>
				My name is Son. I am a software developer at <a href="https://dearlucy.co" target="_blank" style="color: #e12a67; font-weight: bold">DearLucy</a>				- a start-up located in Helsinki, Finland. We build <b style="color: #e12a67">Business Intelligence dashboards</b> which
				provide accurate key performance indicator (KPI) data in real time and in transpent manner. This helps leaders to monitor
				business performance and communicate easily with organization and interest groups.
			</p>
			<p>
				I graduated from Lahti University of Applied Sciences. My major is Business Information Technology which is
				a hybrid degree program of Business and IT, as its name implies. However, I focused more on IT and spend most of my studies
				time working on it.
			</p>
			<p>
				I am a supporter of the open-source movement. It is an effective means for learning and improving as well as sharing knowledge with other people.
			</p>
			<p>
				My favourite dev environment and tools are Linux with i3wm, zsh, tmux, git, and vim or VSCode with vim keybindings.
			</p>
		</div>
	</div>
</div>
