<div class="container">
	<div class="row">
		<h2><i class="fa fa-chevron-circle-down"></i>Skills</h2>
		<div class="skill">
			<ul>
				<li>Programming in: Javascript, Scala, Python, C# </li>
				<li>SQL (PostgresSQL), MongoDB</li>
				<li>HTML5, CSS3 (Sass - SCSS), React</li>
				<li>OS: Linux, Windows</li>
				<li>Docker, Heroku</li>
			</ul>
		</div>
	</div>
	<div class="row">
		<h2><i class="fa fa-chevron-circle-down"></i>Achievements</h2>
		<div class="col-md-12 achievement-list"></div>
	</div>
</div>