#skills {
  padding-top: 80px;

  .row {
    max-width: 900px;
    background-color: $main-color;
    color: $secondary-color;
    padding: 0 25px 15px 25px;
    overflow: hidden;
    border-radius: 5px;
  }

  h2 {
    width: 100%;
    margin-top: 15px;
    padding: 0px;
    font-size: 1.4em;
    line-height: 2.5em;
    cursor: pointer;
  }

  @media screen and (max-width: $mobile-screen) {
    .row {
      padding: 0 5px 15px 5px;
    }
  }
}

.skill {
  li {
    margin: 5px auto;
  }

  @media screen and (max-width: 768px) {
    min-height: initial;
  }
}

.certification-list {
  text-align: center;
}

.certification {
  height: 8rem;
  border-bottom: solid 1px lighten($secondary-color, 40%);
  padding: 20px 0;

  .text {
    padding: 0 10px;
    text-align: left;
  }

  .logo {
    display: block;
    height: 5rem;
  }

  .name {
    margin-bottom: 10px;
  }

  a {
    color: $color-green;
    font-weight: bold;
    text-decoration: none;
  }

  &:last-child {
    border-bottom: none;
    padding-bottom: 0;
  }
}
